html,
#__next {
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
}

body {
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: calc(10px + 0.33vw);
    -webkit-font-smoothing: antialiased;
    color: #121314;
    flex: 1;
    margin: 0;
}

.container-nav {
    height: 60px;
    width: 100%;
    padding: 0px 30px;
    background-color: #ffffff;
    box-sizing: border-box;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.container-nav ul {
    list-style: none;
    display: flex;
}

.container-nav li {
    margin-left: 35px;
    cursor: pointer;
}

.container-nav li a {
    font-size: 18px;
    color: #808080;
    text-decoration: none;
    text-transform: capitalize;
}

.container-nav li a:hover {
    color: #303030;
}

.container-nav .li-active a {
    color: #000;
}
/* 
.container-home {
    padding: 10vh 10vw 3vh 10vw;
} */

/* .container-home p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 28em;
} */

@keyframes wave {
    from {
        background-position-x: 2px;
    }

    to {
        background-position-x: 50px;
    }
}

/* .container-blog {
    padding: 60px 28px 28px 28px;
    max-width: 650px;
    min-width: 330px;
    width: 100%;
    margin: 0 auto;
}

.container-blog-title {
    margin-bottom: 40px;
}

.container-blog ul {
    list-style: none;
    padding: 0;
}

.container-blog ul .article-title {
    text-decoration: none;
    font-size: 18px;
    color: #121314;
    margin-right: 10px;
} */

/* .container-blog ul .article-title:hover {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
} */

/* .container-blog ul li {
    margin-bottom: 30px;
}

.container-blog ul li a {
    text-decoration: none;
} */

/* .container-blog .article-date {
    font-size: 16px;
    color: #575757;
    font-style: oblique;
} */

/* .container-article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .article-content {
    box-sizing: border-box;
    height: 100%;
    padding: 60px 28px 28px 28px;
    width: 100%;
    max-width: 900px;
} */

.article-footer {
    text-align: center;
    color: #808080;
    margin-top: 30px;
}